<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="app/Test.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="true"
    syntaxCheck="true">
    <testsuites>
        <testsuite name="Penlook-Backend">
            <directory></directory>
            <file>/app/ConfigTest.php</file>
            <file>/app/IndexTest.php</file>
            <file>app/ServiceTest.php</file>
        </testsuite>

    </testsuites>
</phpunit>